<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<plugins>
		<plugin interceptor="org.noo.pagination.interceptor.PaginationInterceptor">
			<property name="dialectClass" value="org.noo.pagination.dialect.db.OracleDialect" />
			<property name="sqlPattern" value=".*findAll.*" />
		</plugin>
	</plugins>
</configuration>  