<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.slowvic.db.dao.UserDao">
	<select id="getUserById" parameterType="int" resultType="net.slowvic.domain.User">
		select
		userName,password,birthday from tb_user where id = #{id}
	</select>
	<insert id="addUser" keyColumn="id" parameterType="User">
		insert into
		tb_user(userName,password,birthday)
		values(#{userName},#{password},#{birthday})
	</insert>
	<select id="getUser" resultType="net.slowvic.domain.User">
		select
		userName,password,birthday from tb_user where userName = #{userName}
		and password = #{user.password}
	</select>
	<select id="findAllUsers" parameterType="org.noo.pagination.page.Page"
		resultType="net.slowvic.domain.User">
		select userName,password,birthday from tb_user
	</select>
	<select id="findAllUsersByAnnotation" parameterType="net.slowvic.db.page.PageInfo"
		resultType="net.slowvic.domain.User">
		select userName,password,birthday from tb_user
	</select>
	<select id="findAllUsersByAnnotationAndParam" resultType="net.slowvic.domain.User">
		select
		userName,password,birthday from tb_user where userName = #{userName}
	</select>
</mapper>