<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

	<context:component-scan base-package="net.slowvic.oxm" />

	<!-- OXM使用JAXB2 -->
	<oxm:jaxb2-marshaller id="marshaller">
		<oxm:class-to-be-bound name="net.slowvic.domain.User" />
	</oxm:jaxb2-marshaller>


	<!-- CXF客户端 地址不需要后缀名 -->
	<jaxws:client id="helloClient"
		serviceClass="net.slowvic.webservice.client.HelloWorldClient" address="http://localhost:8080/spring3/cxf/hello" />
	<bean id="helloWorldClient" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory"
		factory-method="create">
		<constructor-arg type="java.lang.String"
			value="http://localhost:8080/spring3/cxf/helloWorld" />
		<constructor-arg type="java.lang.Class"
			value="net.slowvic.webservice.client.RestHelloWorldClient" />
	</bean>

	<!-- JMS -->
	<!-- 设置ActiveMQ的Broker，内嵌，即不使用外部独立运行的ActiveMQ -->
	<amq:broker useJmx="false" persistent="false">
		<amq:transportConnectors>
			<amq:transportConnector uri="tcp://localhost:61616" />
		</amq:transportConnectors>
	</amq:broker>

	<!-- 设置ActiveMQ的ConnectionFactory -->
	<amq:connectionFactory id="activeMqFac"
		brokerURL="tcp://localhost:61616" />
	<amq:queue id="destination" physicalName="jmsinfo" />

	<bean id="jmsFac"
		class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="activeMqFac" />
	</bean>
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFac" />
		<property name="defaultDestination" ref="destination" />
	</bean>

	<jms:listener-container concurrency="5"
		connection-factory="activeMqFac">
		<jms:listener destination="jmsinfo" ref="simpleMessageListener" />
	</jms:listener-container>

	<bean id="simpleMessageListener" class="net.slowvic.jms.SimpleMessageListener" />
	<bean class="net.slowvic.jms.SpringApp">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="destination" ref="destination" />
	</bean>

	<!-- Task && Schedule -->
	<bean id="taskExample" class="net.slowvic.middleware.task.TaskExample">
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="task" ref="asyncTask" />
	</bean>
	<bean id="asyncTask" class="net.slowvic.middleware.task.AsyncTask" />
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="keepAliveSeconds" value="3" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>
	<!-- 支持@Scheduled和@Async注解 -->
	<task:annotation-driven executor="springTaskExecutor"
		scheduler="springScheduler" />
	<task:executor id="springTaskExecutor" pool-size="5"
		queue-capacity="20" />
	<task:scheduler id="springScheduler" pool-size="10" />
</beans>
